<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="api/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Route requests to the Node application" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="api/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;api\*.js" />
  </system.webServer>
</configuration>
